@font-face {
  font-family: 'rgb-icons';
  src: url("../fonts/rgb-icons.eot?hd962m");
  src: url("../fonts/rgb-icons.eot?hd962m#iefix") format("embedded-opentype"), url("../fonts/rgb-icons.ttf?hd962m") format("truetype"), url("../fonts/rgb-icons.woff?hd962m") format("woff"), url("../fonts/rgb-icons.svg?hd962m#rgb-icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'rgb-icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-left:before {
  content: "\e900";
}

.icon-arrow-left-wide:before {
  content: "\e901";
}

.icon-arrow-right:before {
  content: "\e902";
}

.icon-arrow-right-wide:before {
  content: "\e903";
}

.icon-fb:before {
  content: "\e904";
}

.icon-mail:before {
  content: "\e905";
}

.icon-phone:before {
  content: "\e906";
}

.icon-plus-rounded:before {
  content: "\e907";
}

.icon-quote-down:before {
  content: "\e908";
}

.icon-quote-up:before {
  content: "\e909";
}

.icon-youtube:before {
  content: "\e90a";
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:focus {
  outline: none;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

body, div, dl, dt, dd, ul, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, input, textarea, p, a, blockquote, th, td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img, abbr {
  border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal;
}

ul li {
  list-style: none;
}

caption, th {
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

legend {
  color: #000;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
  display: block;
}

img,
iframe,
figure {
  max-width: 100%;
  height: auto;
}

:root {
  --primary:       #1A2254;
  --primary-light: #1511CB;
  --secondary:     #FFFF08;
  --selection:     #FFFF08;
  --font-color:    #3C3C46;
  --gray-bg:       #141414;
  --gray-font:     #8A8A8A;
  --body-font-size:       1.6rem;
  --container-width:      1200px;
  --container-width-wide: 1630px;
  --x: 0;
  --y: 0;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  font-size: var(--body-font-size);
  color: var(--font-color);
}

.container {
  max-width: var(--container-width);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.container-wide {
  max-width: var(--container-width-wide);
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding: 10rem 0;
}

.section.gray {
  background-color: var(--gray-bg);
  color: #fff;
}

.section.gray .h2, .section.gray h2,
.section.gray .h3, .section.gray h3,
.section.gray .h4, .section.gray h4,
.section.gray .h5, .section.gray h5 {
  background: none;
  -webkit-text-fill-color: unset;
  -webkit-background-clip: unset;
  color: #fff;
}

@media (max-width: 600px) {
  .section {
    padding: 7rem 0;
  }
}

.link {
  color: var(--primary-light);
  position: relative;
  z-index: 2;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.link:after {
  content: '';
  height: 2px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -5px;
  background-color: var(--primary-light);
  opacity: .3;
  z-index: -1;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.link:hover {
  color: #fff;
}

.link:hover:after {
  left: -5px;
  right: -5px;
  width: auto;
  height: calc(100% + 10px);
  opacity: 1;
}

.link i {
  font-size: 1.3rem;
  margin-right: .5rem;
}

::-moz-selection {
  background-color: var(--primary-light);
  color: #fff;
  -webkit-background-clip: unset;
  -webkit-text-fill-color: #fff;
}

::selection {
  background-color: var(--primary-light);
  color: #fff;
  -webkit-background-clip: unset;
  -webkit-text-fill-color: #fff;
}

img {
  image-rendering: optimizeQuality;
  image-rendering: -webkit-optimize-contrast;
}

h2, .h2 {
  font-weight: 900;
  font-size: 5rem;
  display: inline-block;
  background: -webkit-linear-gradient(0deg, var(--primary), var(--primary-light));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: var(--primary);
}

@media (max-width: 600px) {
  h2, .h2 {
    font-size: 3rem;
  }
}

h3, .h3 {
  font-weight: 900;
  font-size: 2.8rem;
}

@media (max-width: 600px) {
  h3, .h3 {
    font-size: 2.4rem;
  }
}

h4, .h4 {
  font-weight: 900;
  font-size: 2rem;
}

h6, .h6 {
  font-size: 2.8rem;
}

@media (max-width: 600px) {
  h6, .h6 {
    font-size: 2rem;
  }
}

* {
  cursor: none;
}

@media (max-width: 1024px) {
  * {
    cursor: pointer;
  }
}

.cursor {
  width: 2rem;
  height: 2rem;
  background-color: #000;
  opacity: .6;
  border-radius: 50%;
  position: fixed;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  pointer-events: none;
  -webkit-transition: background, -webkit-transform 0.3s cubic-bezier(0.76, -0.54, 0.01, 1.46);
  transition: background, -webkit-transform 0.3s cubic-bezier(0.76, -0.54, 0.01, 1.46);
  transition: background, transform 0.3s cubic-bezier(0.76, -0.54, 0.01, 1.46);
  transition: background, transform 0.3s cubic-bezier(0.76, -0.54, 0.01, 1.46), -webkit-transform 0.3s cubic-bezier(0.76, -0.54, 0.01, 1.46);
  -webkit-transform-origin: 80% 80%;
          transform-origin: 80% 80%;
  z-index: 1000000;
}

.cursor:after {
  content: '';
  width: 2px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.cursor.white {
  background-color: #fff;
}

.cursor.white:after {
  background-color: #000;
}

.cursor.grow {
  -webkit-transform: scale(3);
          transform: scale(3);
  opacity: .3;
  -webkit-backdrop-filter: invert(1);
          backdrop-filter: invert(1);
}

.cursor.grow:after {
  display: none;
}

.cursor.burger {
  -webkit-transform: scale(4);
          transform: scale(4);
  opacity: .3;
  z-index: 0;
}

.cursor.burger:after {
  display: none;
}

.cursor.click {
  -webkit-transition: -webkit-transform .1s ease-in-out;
  transition: -webkit-transform .1s ease-in-out;
  transition: transform .1s ease-in-out;
  transition: transform .1s ease-in-out, -webkit-transform .1s ease-in-out;
  -webkit-transform: translate(-50%, -50%) scale(0.8);
          transform: translate(-50%, -50%) scale(0.8);
}

@media (max-width: 1024px) {
  .cursor {
    display: none;
  }
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.navbar-logo img {
  width: 115px;
  height: 40px;
  -o-object-fit: contain;
     object-fit: contain;
}

.navbar-logo:hover {
  -webkit-transform: none;
          transform: none;
}

.navbar-phone, .navbar-list, .navbar-burger {
  margin-left: 5%;
}

.navbar-phone {
  font-size: 1.8rem;
}

.navbar-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30rem;
          flex: 1 1 30rem;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.navbar-list li {
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  margin-left: 7.5%;
}

.navbar-list li i {
  font-size: 1.3rem;
  margin-right: .5rem;
  opacity: .3;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.navbar-list li:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.navbar-list li:hover i {
  opacity: 1;
}

@media (max-width: 1024px) {
  .navbar-list {
    display: none;
  }
}

.navbar-burger {
  justify-self: flex-end;
  width: 88px;
  height: 88px;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
  position: relative;
  z-index: 101;
}

.navbar-burger .line {
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  position: absolute;
  height: 2px;
  background: #FFFFFF;
  right: 23px;
}

.navbar-burger .line-first {
  width: 40px;
  bottom: 44%;
}

.navbar-burger .line-second {
  width: 25px;
  bottom: 33%;
}

.navbar-burger .text {
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  position: absolute;
  bottom: 50%;
  right: 23px;
  font-size: 13px;
}

.navbar-burger__close:before, .navbar-burger__close:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 2px;
  background: #FFFFFF;
  -webkit-transition: 0.4s cubic-bezier(0.76, -0.54, 0.01, 1.46);
  transition: 0.4s cubic-bezier(0.76, -0.54, 0.01, 1.46);
}

.navbar-burger__close:after {
  -webkit-transform: translate(-50%, -50%) rotate(135deg) scale(0);
          transform: translate(-50%, -50%) rotate(135deg) scale(0);
}

.navbar-burger__close:before {
  -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(0);
          transform: translate(-50%, -50%) rotate(45deg) scale(0);
}

.navbar-burger.active .navbar-burger__common {
  opacity: 0;
}

.navbar-burger.active .navbar-burger__close:after {
  -webkit-transform: translate(-50%, -50%) rotate(135deg) scale(1);
          transform: translate(-50%, -50%) rotate(135deg) scale(1);
}

.navbar-burger.active .navbar-burger__close:before {
  -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(1);
          transform: translate(-50%, -50%) rotate(45deg) scale(1);
}

.navbar-burger:hover {
  background-color: #fff;
  color: var(--font-color);
}

.navbar-burger:hover .line {
  background-color: var(--font-color);
}

.navbar-burger:hover .navbar-burger__close:before, .navbar-burger:hover .navbar-burger__close:after {
  background-color: var(--font-color);
}

@media (max-width: 1024px) {
  .navbar-burger {
    margin-left: auto;
  }
}

.navbar-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 14rem;
  padding: 2rem 0;
}

@media (max-width: 600px) {
  .navbar-phone {
    display: none;
  }
  .navbar-row {
    min-height: unset;
  }
  .navbar-burger {
    width: 7rem;
    height: 7rem;
  }
  .navbar-burger .text,
  .navbar-burger .line {
    right: 17px;
    font-size: 11px;
  }
  .navbar-burger .line-first {
    width: 33px;
  }
}

.slider-arrows {
  margin-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider-arrows .arrow-left:before,
.slider-arrows .arrow-right:before {
  font-family: 'rgb-icons';
  display: inline-block;
  font-size: 8px;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.slider-arrows .arrow-left:before {
  content: "\e901";
  -webkit-transform-origin: left;
          transform-origin: left;
}

.slider-arrows .arrow-left:hover:before {
  -webkit-transform: translateX(-10px) rotateY(45deg);
          transform: translateX(-10px) rotateY(45deg);
}

.slider-arrows .arrow-right:before {
  content: "\e903";
  -webkit-transform-origin: right;
          transform-origin: right;
}

.slider-arrows .arrow-right:hover:before {
  -webkit-transform: translateX(10px) rotateY(45deg);
          transform: translateX(10px) rotateY(45deg);
}

@media (max-width: 600px) {
  .slider-arrows {
    margin-top: 1rem;
  }
  .slider-arrows .arrow-left:before,
  .slider-arrows .arrow-right:before {
    font-size: 4px;
  }
}

a {
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

a:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.header-home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  min-height: 100vh;
  padding-top: 10rem;
  padding-bottom: 10rem;
  background: radial-gradient(circle at 0 0, var(--primary-light), var(--primary));
}

.header-home .container-wide {
  margin-top: auto;
  position: relative;
}

.header-home h1 {
  font-weight: 900;
  font-size: 3.2vw;
  margin-bottom: 5rem;
  max-width: 60%;
}

.header-home .scroll-down {
  position: absolute;
  right: 15px;
  bottom: 0;
}

.header-home .scroll-down .line {
  width: 1px;
  height: 62px;
  margin: auto;
  margin-top: 1rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(transparent));
  background: linear-gradient(180deg, #fff, transparent);
}

@media (max-width: 1024px) {
  .header-home {
    text-align: center;
    padding-bottom: 3rem;
    background: radial-gradient(circle at 50% 50%, var(--primary-light), var(--primary));
  }
  .header-home h1 {
    max-width: 100%;
    font-size: 2.8rem;
    margin-bottom: 2rem;
  }
  .header-home .scroll-down {
    margin-top: 6rem;
    position: static;
    display: block;
    text-align: center;
  }
}

.header-common .navbar {
  position: static;
  color: #3C3C46;
  border-bottom: 1px solid #C4C4C4;
}

.header-common .navbar-logo {
  -webkit-filter: brightness(0);
          filter: brightness(0);
}

.header-common .navbar-burger {
  border: 1px solid #3C3C46;
}

.header-common .navbar-burger .line {
  background-color: #3C3C46;
}

.header-single {
  position: relative;
  min-height: 100vh;
  padding-top: 15rem;
  padding-bottom: 5rem;
}

.header-single .column-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header-single .btns {
  margin-top: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
  margin-top: 10%;
}

.header-single .btns .btn {
  margin: 15px;
}

.header-single .scroll-down {
  position: absolute;
  right: 15px;
  bottom: 0;
}

.header-single .scroll-down .line {
  width: 1px;
  height: 62px;
  margin: auto;
  margin-top: 1rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(transparent));
  background: linear-gradient(180deg, #fff, transparent);
}

.header-single h1 {
  margin-bottom: 2rem;
}

.header-single .subtitle {
  margin-bottom: 3rem;
  font-weight: 900;
  font-size: 2rem;
  color: #3C3C46;
}

.header-single .navbar {
  color: #fff;
}

.header-single .navbar-phone {
  color: var(--font-color);
}

.header-single .navbar-logo {
  -webkit-filter: brightness(0);
          filter: brightness(0);
}

.header-single .row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (6fr)[2];
      grid-template-columns: repeat(2, 6fr);
}

.header-single .column-image img {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 1366px) {
  .header-single {
    padding-top: 10rem;
  }
  .header-single h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
  }
  .header-single .subtitle {
    margin-bottom: 2rem;
  }
  .header-single ul {
    font-size: 1.4rem;
  }
  .header-single .btns {
    margin-top: 0;
  }
}

@media (max-width: 1024px) {
  .header-single {
    padding-bottom: 3rem;
  }
  .header-single .row {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 6fr;
        grid-template-columns: 6fr;
  }
  .header-single .navbar {
    color: #3C3C46;
  }
  .header-single .navbar-logo {
    -webkit-filter: brightness(0);
            filter: brightness(0);
  }
  .header-single .navbar-burger {
    border: 1px solid #3C3C46;
  }
  .header-single .navbar-burger .line {
    background-color: #3C3C46;
  }
  .header-single h1 {
    font-size: 2.6rem;
  }
  .header-single .subtitle {
    font-size: 1.4rem;
  }
  .header-single ul {
    font-size: 1.2rem;
  }
  .header-single .btn.btn-primary:before, .header-single .btn.btn-primary:after,
  .header-single .btn.btn-link-prev:before,
  .header-single .btn.btn-link-prev:after {
    display: none;
  }
  .header-single .column-image {
    margin-bottom: 2rem;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .header-single .column-image img {
    position: static;
    width: 100%;
  }
  .header-single .scroll-down {
    margin-top: 6rem;
    position: static;
    display: block;
    text-align: center;
  }
}

.primary-list li {
  margin-left: 20px;
  margin-bottom: 1rem;
  position: relative;
}

.primary-list li:before {
  content: "";
  display: inline-block;
  position: absolute;
  border: 2px solid var(--font-color);
  width: 12px;
  height: 12px;
  margin-left: -20px;
  border-radius: 50%;
  top: 5px;
}

.header-home a:hover,
.footer a:hover,
.mobile-menu a:hover {
  -webkit-filter: drop-shadow(0 0 10px #fff);
          filter: drop-shadow(0 0 10px #fff);
}

#about {
  padding: 15rem 0;
}

#about .column-services {
  justify-self: flex-end;
}

#about .h4 {
  margin-bottom: 3rem;
}

#about .services {
  max-width: 49rem;
}

#about .quotes {
  margin-top: 7.5rem;
}

@media (max-width: 1024px) {
  #about {
    padding: 10rem 0;
  }
  #about .services {
    max-width: 100%;
  }
  #about .column-services {
    -ms-grid-column-align: stretch;
        justify-self: stretch;
  }
}

@media (max-width: 600px) {
  #about {
    padding: 7rem 0;
  }
  #about .quotes {
    margin-top: 3.5rem;
  }
}

.digits {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.digits .digits-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.digits .digits-block__digit {
  font-weight: 900;
  font-size: 4rem;
  color: var(--primary);
  margin-right: .5rem;
}

@supports (-webkit-text-stroke: 1px black) {
  .digits .digits-block__digit {
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
  }
}

@media (max-width: 600px) {
  .digits {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .digits .digits-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

.column-services .service:hover .service-preview {
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  -webkit-transition: 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.services {
  margin-top: 1px;
}

.services.gray .service {
  opacity: .4;
}

.services .service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #C4C4C4;
  border-bottom: 1px solid #C4C4C4;
  margin-top: -1px;
}

.services .service a {
  padding-top: 1rem;
  padding-bottom: 1rem;
  height: 6.8rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 15rem;
          flex: 1 1 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services .service span {
  font-size: 1.4rem;
  margin-left: 1rem;
  opacity: 0.5;
}

.services .service:after {
  content: "\e902";
  font-family: 'rgb-icons';
  font-size: 6px;
  margin-left: auto;
  padding-left: 1rem;
  overflow: hidden;
  display: inline-block;
  -webkit-transition: .3s ease-in;
  transition: .3s ease-in;
}

.services .service-preview {
  position: fixed;
  height: 100%;
  width: 55%;
  left: 0;
  top: 50%;
  -webkit-transform: translate(-101%, -50%);
          transform: translate(-101%, -50%);
  -webkit-transition: 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  z-index: 5;
}

.services .service-preview img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.services .service.active {
  opacity: 1;
}

.services .service:hover a {
  -webkit-transform: none;
          transform: none;
}

.services .service:hover:after {
  -webkit-transform: rotateY(45deg) translateX(2px);
          transform: rotateY(45deg) translateX(2px);
  -webkit-transform-origin: right;
          transform-origin: right;
}

@media (max-width: 1024px) {
  .services .service .service-preview {
    display: none;
  }
}

.quotes {
  position: relative;
  padding: 2rem 4rem;
  font-size: 2.8rem;
  margin-bottom: 4rem;
}

.quotes:after, .quotes:before {
  font-family: 'rgb-icons';
  font-size: 22px;
  color: var(--primary);
  position: absolute;
}

.quotes:after {
  content: "\e908";
  bottom: 0;
  right: 0;
}

.quotes:before {
  content: "\e909";
  top: 0;
  left: 0;
}

@media (max-width: 600px) {
  .quotes {
    font-size: 1.8rem;
    padding: 0 2.5rem;
  }
  .quotes:after, .quotes:before {
    font-size: 1.2rem;
  }
}

a.btn {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.btn {
  border-radius: 10px;
  border: none;
}

.btn.btn-link-prev:before {
  content: "\e900";
  font-family: 'rgb-icons';
  font-size: 6px;
  margin-left: 2rem;
  display: inline-block;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  margin-right: 1rem;
  display: inline-block;
  vertical-align: middle;
}

.btn.btn-link-prev:hover:before {
  -webkit-transform: translateX(-10px) rotateY(45deg);
          transform: translateX(-10px) rotateY(45deg);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.btn.btn-primary {
  padding: 3rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  border: 1px solid var(--font-color);
}

.btn.btn-primary:after {
  content: "\e902";
  font-family: 'rgb-icons';
  font-size: 6px;
  margin-left: 2rem;
  display: inline-block;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.btn.btn-primary:hover:after {
  -webkit-transform: translateX(10px) rotateY(45deg);
          transform: translateX(10px) rotateY(45deg);
  -webkit-transform-origin: right;
          transform-origin: right;
}

@media (max-width: 600px) {
  .btn.btn-primary {
    padding: 2rem 1rem;
  }
}

.btn.btn-gigant {
  display: block;
  width: 100%;
  min-height: 13rem;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  border: 1px solid var(--font-color);
}

.btn.btn-gigant:after {
  content: "\e902";
  font-family: 'rgb-icons';
  font-size: 6px;
  margin-left: 2rem;
  display: inline-block;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.btn.btn-gigant:hover:after {
  -webkit-transform: translateX(10px) rotateY(45deg);
          transform: translateX(10px) rotateY(45deg);
  -webkit-transform-origin: right;
          transform-origin: right;
}

@media (max-width: 600px) {
  .btn.btn-gigant {
    min-height: 10rem;
  }
}

#trust .row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5fr 7fr;
      grid-template-columns: 5fr 7fr;
  gap: 2rem;
}

#trust .row h2, #trust .row .h2 {
  margin-bottom: 2rem;
}

#trust .row h6, #trust .row .h6 {
  margin-bottom: 6rem;
}

@media (max-width: 1024px) {
  #trust .row {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.brands {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(17rem, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
  margin-left: 1px;
  margin-top: 1px;
}

.brands .brand {
  border: 1px solid #e5e5e5;
  margin-left: -1px;
  margin-top: -1px;
  position: relative;
  padding-top: 72%;
  position: relative;
}

.brands .brand:after {
  content: '';
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  background: var(--primary-light);
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
}

.brands .brand img {
  padding: 1rem;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.brands .brand:hover:after {
  opacity: .05;
}

@media (max-width: 600px) {
  .brands {
    -ms-grid-columns: (minmax(9rem, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(9rem, 1fr));
  }
}

.mobile-menu i,
.footer i {
  font-size: 1.3rem;
  opacity: .3;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.mobile-menu .menu,
.mobile-menu .list,
.footer .menu,
.footer .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
}

.mobile-menu .menu li,
.mobile-menu .list li,
.footer .menu li,
.footer .list li {
  margin: 15px;
}

.mobile-menu li:hover i,
.mobile-menu a:hover i,
.mobile-menu div:hover > i,
.footer li:hover i,
.footer a:hover i,
.footer div:hover > i {
  opacity: 1;
}

.mobile-menu .copyright,
.mobile-menu .logo,
.footer .copyright,
.footer .logo {
  opacity: .3;
}

.mobile-menu .copyright,
.footer .copyright {
  font-size: 1.3rem;
}

@media (max-width: 600px) {
  .mobile-menu .list {
    font-size: 1.2rem;
    margin: -5px;
  }
  .mobile-menu .list li {
    margin: 5px;
  }
}

.footer {
  background-color: var(--primary);
  color: #fff;
}

@media (max-width: 600px) {
  .footer {
    font-size: 13px;
  }
}

.footer .row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[2];
      grid-template-columns: repeat(2, auto);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  gap: 2rem;
  min-height: 20rem;
}

.footer .copyright {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.footer .logo {
  width: 115px;
  height: 40px;
  margin-left: auto;
}

.footer .logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.footer .logo:hover {
  -webkit-transform: none;
          transform: none;
  opacity: 1;
}

@media (max-width: 768px) {
  .footer .menu,
  .footer .list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.section-title {
  padding-top: 2vw;
  padding-bottom: 2vw;
  margin-bottom: 2.5rem;
  position: relative;
}

.section-title .back-text {
  position: absolute;
  top: 50%;
  left: -7px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-weight: 900;
  font-size: 10vw;
  opacity: 0.21;
  text-transform: uppercase;
  color: #3C3C46;
}

@supports (-webkit-text-stroke: 1px #3C3C46) {
  .section-title .back-text {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #3C3C46;
  }
}

.gray .back-text {
  color: #fff;
}

@supports (-webkit-text-stroke: 1px #fff) {
  .gray .back-text {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
  }
}

#portfolio {
  overflow: hidden;
}

.portfolio .image {
  overflow: hidden;
  height: 33rem;
  margin-bottom: 2rem;
}

.portfolio .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 0.6s cubic-bezier(0.17, 0.72, 0.48, 1);
  transition: 0.6s cubic-bezier(0.17, 0.72, 0.48, 1);
}

.portfolio .tags {
  color: var(--secondary);
  font-size: 1.2rem;
}

.portfolio-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.portfolio-block:nth-child(even) {
  margin-top: 8rem;
}

.portfolio-block:nth-child(even) .image {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  margin-top: 2rem;
}

.portfolio-block:hover {
  -webkit-transform: none;
          transform: none;
}

.portfolio-block:hover .image img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

@media (max-width: 600px) {
  .portfolio .image {
    height: 24rem;
  }
  .portfolio-block:nth-child(even) {
    margin-top: 0;
  }
  .portfolio-block:nth-child(even) .image {
    -webkit-box-ordinal-group: unset;
        -ms-flex-order: unset;
            order: unset;
    margin-top: 0;
  }
}

.mobile-menu {
  display: none;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--primary);
  z-index: 100;
  color: #fff;
}

.mobile-menu #menu-menu-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mobile-menu #menu-menu-1 li {
  opacity: 0.3;
  font-size: 6vh;
  margin-bottom: 4vh;
  font-weight: bold;
}

.mobile-menu #menu-menu-1 li a:hover {
  -webkit-filter: none;
          filter: none;
}

.mobile-menu #menu-menu-1 li:hover,
.mobile-menu #menu-menu-1 li .current-menu-item {
  opacity: 1;
}

.mobile-menu .list {
  margin-bottom: 2rem;
}

.mobile-menu .content {
  max-width: var(--container-width-wide);
  width: 100%;
  padding-top: 12vh;
  padding-bottom: 6vh;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mobile-menu .content .foot {
  margin-top: auto;
}

@media (max-width: 600px) {
  .mobile-menu .content {
    padding-top: 15vh;
  }
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.primary {
  color: var(--primary);
}

.row-6 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (6fr)[2];
      grid-template-columns: repeat(2, 6fr);
  gap: 2rem;
}

@media (max-width: 1024px) {
  .row-6 {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 4rem;
  }
}
